*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    padding: 20px 0;
    background-color: brown;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.nav__list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav__link{
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.footer{
    background-color: brown;
    padding: 20px 0;
}
.footer__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__copyright{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.animals{
    background-color: antiquewhite;
}
.animal__title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.animal__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.animal__text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
=======
.bobur_img{
    max-width: 500px;
}
.bobur_bottom{
    display: flex;
    align-items: center;
}
.bobur h1{
    text-align: center;

}